#agentDiv {
    outline: 1px solid black; /* Width, style, and color */
    padding: 5px;
}

#promptform {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
  }

  #submitprompt{
    margin: 10px;
    
  }

  #inputprompt{
    margin-left: 6px;
    margin: 10px;
    padding: 10px;
  }